*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}
:root{
    --bg-color:#d8d8d8;
    --text-color:rgb(0, 0, 0);
    --secound-color:#65656a;
    --main-color:#cc00ff;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.2rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
.logo{
    max-width: 100%;
    width: 130px;
    height: auto;

}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;

}
.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover:after{
    width: 100%;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display:none;
}

section{
    padding: 100px 18%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../img/marble2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:4rem;
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
span{
    color: #8c00ff;
}
.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(128,103,240,1);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
    transition: 0.5s;
}

.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size:var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);

}

.home-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}

header.sticky{
    background: var(--bg-color);
    padding: 13px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
.items{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.sub-box{
    padding:45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
}
.sub-img img{
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.sub-box h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}
.sub-box p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 29px;
}
.sub-box:hover{
    background:#ffffff ;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70/7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px)rotateX(4.80deg) rotateY(10.23deg)scale3d(1.05 1.05 1.05);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    
}
.about-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3{
    color: var(--main-color);
    font-size: 20px;
    font-size: 500;
}
.heading p{
    
    color: var(--secound-color);
    line-height: 18px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #5d326c, #350048); /*fiolet*/
}
.container {
	width: 1200px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .btn {
	position: relative;
	top: 0;
	left: -12%;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: rgb(255, 0, 0);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}
.gallery {
    display: grid;
    gap: 5px; 
    grid-template-columns: auto 0 auto;
    place-items:center;
  }
  .gallery > img {
    width: 250px; /* control the size */
    aspect-ratio: 1;
    object-fit: cover;
    transition: .2s;
    filter: grayscale();
    cursor: pointer;
  }
  .gallery > img:hover {
    filter: grayscale(0%);
  }
  
  .gallery > img:nth-child(1) {
    clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(0 0,100% 0,50% 100%);
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
  }
  .gallery > img:nth-child(5) {
    clip-path: polygon(50% 0,100% 100%,0% 100%);
  }
  .gallery > img:nth-child(6) {
    clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
  }
  

  body {
    margin: 0;
    min-height: 50vh;
    display: grid;
    place-content: center;
  }
.end{
    position: relative;
    padding: -10px;
}
@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

body {
  background: #fff;

}


@keyframes wave {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.music-card {
  margin: 100px auto;
  background: #fff;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  overflow: hidden;
  position: relative;
  width: 310px;
  height: 530px;
  border-radius: 6px;
}

.image {
  background: url('../img/fitness.png') no-repeat 75%;
  background-size: cover;  
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  height: 300px;
  width: 300px;
}

.image:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}

.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.5;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  background: radial-gradient(#353535, #383737);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 10px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 8000ms infinite linear;
}
/* when stop */
.wave {
  border-radius: 40%;
  animation: wave 100s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
/* when stop */
.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}
/* when stop */
.wave:nth-child(3) {
  animation-duration: 45s;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 1.4em;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}

.artist {
  color: #cfcfcf;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  font-family: 'Reem Kufi', sans-serif;
  margin-top: -10px;
}

.fa {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.fa-play {
  display: none;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

main {
	display: flex;
	justify-content: center;

}

